@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior:smooth;
}


select {
  appearance: none;
  background-image: url('/downArrow.svg'); /* Replace with your arrow icon */
  background-repeat: no-repeat;
  background-position: right 10px center; /* Adjust for proper alignment */
  padding-right: 2.5rem; /* Leave space for the arrow */
}
