@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior:smooth;
}


/* select {
  appearance: none;
  background-image: url('/downArrow.svg'); 
  background-repeat: no-repeat;
  background-position: right 10px center; 
  padding-right: 2.5rem; 
} */
